#menu{
    display: table;
    text-align: center;
    align-items: flex-end;
}
#menu li{
    display: table-cell;
    list-style: none;
    text-align: center;
    vertical-align: center;
    max-height: 50px;
}
.top {
    margin-top: -1em;
}
.bottom {
    margin-top: 1em;
}

.none {
    list-style: none;
}

.padLR {
    padding-left: 5px;
    padding-right: 5px;
}
.padUD {
    padding-top: 10px;
    padding-bottom: 5px;
}

.relative {
    position: relative;
}

.center {
    justify-content: center;
}

.flex {
    display: flex;
}

.shadow1 {
    --tw-shadow: 10px 1px 3px rgba(0,0,0,0.04),10px 2px 8px rgba(0,0,0,0.08);
    box-shadow: 10px 8px 16px 1px rgba(0,0,0,0.4);
}

.roundedBlk {
    border-radius: 0.5rem;
    overflow: hidden;
}



